* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #0f172a;
    overflow: hidden;
}

strong {
    font-weight: 600;
    color: #c8c8c8;
}

a {
    text-decoration: none;
    color: #c8c8c8;
}

.fa {
    font-size: 1.6rem;
}

.main-section {
    display: grid;
    grid-template-columns: 7fr 8fr;
    grid-template-rows: 1fr;
}

.navigation-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5rem;
    height: 100vh;
    padding: 8rem;
}

.name {
    font-size: 4.2rem;
    color: #c8c8c8;
}

.job {
    font-family: "Source Code Pro", monospace;
    font-weight: 300;
    letter-spacing: 0.25rem;
    color: #c7b991;
    margin-bottom: 2rem;
}

.nav-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    align-self: center;
    margin-left: 5rem;
}

.nav-links a {
    display: inline-block;
    width: 30rem;
    color: #868ea1;
    font-size: 1.4rem;
    font-weight: 400;
    padding: 0.5rem;
    transition: color 0.3s ease;
    text-transform: uppercase;
}

.nav-links a::before {
    content: "";
    display: inline-block;
    width: 4rem;
    height: 0.1rem;
    background-color: #868ea1;
    margin-right: 1rem;
    transition: width 0.3s ease, background-color 0.3s ease;
}

.nav-links a:hover {
    color: #c8c8c8;
    font-weight: 600;
}

.nav-links a:hover::before {
    width: 10rem;
    background-color: #c8c8c8;
}

.nav-links > a.active::before {
    width: 10rem;
    background-color: #c8c8c8;
}

.nav-links > a.active {
    color: #c8c8c8;
    font-weight: 600;
}

.social-media-ctr {
    display: flex;
    justify-content: left;
    align-items: center;
    align-items: baseline;
}

.social-media {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-self: end;
    gap: 1rem;
}

.social-media a {
    display: inline-block;
    border: 1px solid #c8c8c8;
    color: #868ea1;
    border-radius: 1rem;
    padding: 0.5rem 0.8rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.social-media a:hover {
    background-color: #c8c8c8;
    color: #0f172a;
}

.content-section {
    height: 100vh;
    padding: 8rem;
    padding-left: 0;
    font-size: 1.5rem;
    overflow-y: auto;
    transition: 1s ease;
    /* overflow: hidden; */
}

.about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio-img-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.portfolio-img-ctr img {
    width: 25rem;
    border-color: #c8c8c8;
    border-width: 0.3rem;
    border-style: dotted;
    border-radius: 100%;
    transition: 0.2s ease;
}

.portfolio-img-ctr img:hover {
    border-color: #5eead4;
}

.portfolio-username {
    font-size: 2rem;
    color: #c7b991;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.portfolio-desc {
    line-height: 1.8;
    text-align: center;
    color: #868ea1;
}

.projects-ctr {
    position: relative;
    overflow: auto;
}

.projects-header {
    text-align: center;
    color: #c8c8c8;
    padding-bottom: 5rem;
}

/* .projects-ctr::before {
    content: "";
    width: 100%;
    height: 8rem;
    background: linear-gradient(#0f172a 60%, #1c305e00);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.projects-ctr::after {
    content: "";
    width: 100%;
    height: 8rem;
    background: linear-gradient(0deg, #0f172a 60%, #1c305e00);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;
} */

/* Project Card */
.project-card {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2.2rem;
    border: 1px solid rgba(29, 79, 216, 0.15);
    border-radius: 16px;
    transition: 0.3s ease;
}

.project-card:last-child {
    margin-bottom: 0;
}

.project-card-date-ctr {
    font-size: 1.2rem;
    padding: 2.2rem;
    color: #c8c8c8;
    background: rgba(29, 79, 216, 0.063);
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: background-color 0.3s ease, border-radius 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover .project-card-date-ctr {
    background: rgba(29, 79, 216, 0.212);
}

.project-card:hover {
    transform: translateY(-0.2rem);
    border: 1px solid rgba(29, 79, 216, 0.5);
}

.project-content-ctr {
    width: 80%;
    padding: 1.6rem;
}

.project-name {
    display: inline-block;
    margin-right: 1rem;
    color: #c8c8c8;
    margin-bottom: 1rem;
}

.project-link {
    color: #c8c8c8;
}

.project-card:hover .project-link {
    color: #5eead4;
}

.project-card:hover .project-name {
    color: #5eead4;
}

.project-desc {
    color: #868ea1;
}

.project-tech-stack {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-top: 1.6rem;
    list-style-type: none;
}

.project-tech {
    font-size: 1.2rem;
    color: #5eead4;
    background-color: #5eead412;
    padding: 0.5rem 0.8rem;
    margin: 0 1rem 1rem 0;
    border-radius: 1rem;
}
/* Technologies */
.technologies-ctr {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.technologies-header {
    text-align: center;
    color: #c8c8c8;
    padding-bottom: 5rem;
}

.technologies-inner-ctr {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    position: relative;
}

/* .technologies-ctr::before {
    content: "";
    width: 100%;
    height: 8rem;
    background: linear-gradient(#0f172a 60%, #1c305e00);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.technologies-ctr::after {
    content: "";
    width: 100%;
    height: 8rem;
    background: linear-gradient(0deg, #0f172a 60%, #1c305e00);
    position: absolute;
    bottom: 0;
    left: 0;
} */

.tech-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20rem;
    width: 20rem;
    background-color: #1f2a48;
    border-radius: 1rem;
    transition: background-color 0.3s ease;
}

.tech-icon {
    font-size: 5rem;
    color: #5eead4;
}

.tech-name {
    font-size: 1.8rem;
    text-align: center;
    color: #c8c8c8c3;
    margin-top: 1rem;
}

.footer-ctr {
    width: 100%;
    padding: 5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* scroll bar */
::-webkit-scrollbar {
    width: 0.8rem;
}

::-webkit-scrollbar-track {
    background: #1f2a48;
}

::-webkit-scrollbar-thumb {
    background: #5eead57f;
    border-radius: 1rem;
}

/* Media Queries */
@media (max-width: 1024px) {
    body {
        overflow-y: auto;
    }

    .main-section {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .navigation-section {
        display: none;
        overflow-y: auto;
    }

    .content-section {
        padding-left: 8rem;
        height: auto;
        overflow-y: auto;
        overflow: hidden;
    }

    .about-section {        
        margin: 8rem 0;
    }

    .social-media-ctr {
        justify-content: center;
    }
}

@media (max-width: 600px) {
    .project-card {
        flex-direction: column;
    }

    .project-card-date-ctr {        
        border-top-right-radius: 16px;
        border-bottom-left-radius: 0;
    }

    .project-content-ctr {
        width: 100%;
    }

    .content-section {
        padding: 2.5rem;
    }
}

@media (max-width: 400px) {
    .about-section {
        margin: 12rem 0;
    }

    .tech-card {
        width: 100%;
    }
}