* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #0f172a;
    overflow: hidden;
}

strong {
    font-weight: 600;
    color: #c8c8c8;
}

a {
    text-decoration: none;
    color: #c8c8c8;
}

.fa {
    font-size: 1.6rem;
}

.main-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.navigation-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    width: 40%;
    height: 100vh;
    padding: 8rem;
}

.name {
    font-size: 5rem;
    color: #c8c8c8;
}

.job {
    font-weight: 500;
    color: #c8c8c8;
    margin-bottom: 2rem;
}

.desc {
    font-size: 1.6rem;
    font-weight: 400;
    color: #868ea1;
    margin-top: 2rem;
    font-style: italic;
}

.nav-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-left: 5rem;
}

.nav-links a {
    display: inline-block;
    width: 30rem;
    color: #868ea1;
    font-size: 1.4rem;
    font-weight: 400;
    padding: 0.5rem;
    transition: color 0.3s ease;
    text-transform: uppercase;
}

.nav-links a::before {
    content: "";
    display: inline-block;
    width: 4rem;
    height: 0.1rem;
    background-color: #868ea1;
    margin-right: 1rem;
    transition: width 0.3s ease, background-color 0.3s ease;
}

.nav-links a:hover {
    color: #c8c8c8;
    font-weight: 600;
}

.nav-links a:hover::before {
    width: 10rem;
    background-color: #c8c8c8;
}

.nav-links > a.active::before {
    width: 10rem;
    background-color: #c8c8c8;
}

.nav-links > a.active {
    color: #c8c8c8;
    font-weight: 600;
}

.content-section {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100vh;
    padding: 8rem;
    font-size: 1.5rem;
    overflow-y: auto;
}

.about-section {
    justify-content: center;
    align-items: center;
}

.portfolio-img-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 30rem;
    overflow: hidden;
    position: relative;
}

.portfolio-img-ctr img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-color: #c8c8c8;
    border-width: 0.3rem;
    border-style: dotted;
    border-radius: 100%;
    transition: 0.2s ease;
}

.portfolio-img-ctr img:hover {
    border-color: #5eead4;
}

.portfolio-desc {
    margin-top: 5rem;
    line-height: 1.8;
    text-align: center;
    color: #868ea1;
}

.social-media a {
    border: 1px solid #c8c8c8;
    color: #868ea1;
    border-radius: 1rem;
    padding: 0.5rem 0.8rem;
    margin-right: 1rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.social-media a:hover {
    background-color: #c8c8c8;
    color: #0f172a;
}

/* Project Card */
.project-card {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 1rem 0;
    transition: background-color 0.3s ease, border-radius 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    background: rgba(255, 255, 255, 0.07);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

/* .project-card:nth-child(odd) {
    margin-left: -5rem;
} */

.project-img-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    overflow: hidden;
    /* border: 1px solid orange; */
}

.project-img {
    width: 85%;
    height: 80%;
    object-fit: cover;
    transition: transform 0.3s ease;
    border-radius: 1rem;
}

.project-content-ctr {
    width: 80%;
    padding: 1.6rem;
}

.project-name {
    display: inline-block;
    margin-right: 1rem;
    color: #c8c8c8;
}

.project-link {
    color: #c8c8c8;
}

.project-card:hover .project-link {
    color: #5eead4;
}

.project-card:hover .project-name {
    color: #5eead4;
}

.project-desc {
    color: #868ea1;
}

.project-tech-stack {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-top: 1.6rem;
    list-style-type: none;
}

.project-tech {
    font-size: 1.2rem;
    color: #5eead4;
    background-color: #5eead412;
    padding: 0.5rem 0.8rem;
    margin: 0 1rem 1rem 0;
    border-radius: 1rem;
}

/* Resume Container */
.resume-ctr {
    padding: 0;
}

/* Technologies */
.technologies-ctr {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    position: relative;
    overflow: hidden;
}

.technologies-ctr::before {
    content: "";
    width: 100%;
    height: 8rem;
    background: linear-gradient(#0f172a 60%, #1c305e00);
    position: fixed;
    top: 0;
    left: 0;
}

.technologies-ctr::after {
    content: "";
    width: 100%;
    height: 8rem;
    background: linear-gradient(0deg, #0f172a 60%, #1c305e00);
    position: fixed;
    bottom: 0;
    left: 0;
}

.tech-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 20rem;
    margin: 2rem 0;
    padding: 2rem;
    background-color: #1f2a48;
    border-radius: 1rem;
    transition: background-color 0.3s ease;
}

.tech-icon {
    font-size: 5rem;
    color: #5eead4;
}

.tech-name {
    font-size: 2rem;
    color: #c8c8c8c3;
    margin-top: 1rem;
}

/* scroll bar */
::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background: #1f2a48;
}

::-webkit-scrollbar-thumb {
    background: #5eead57f;
    border-radius: 1rem;
}